#section-container {
    width: 100%;
    height: auto;
    background: rgba(159, 250, 244, 0);
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 90px;
}

/* container-inputs */
#container-inputs {
    width: 70%;
    height: auto;
    background: rgba(97, 176, 255, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    padding: 25px 0;
}

#container-logo-container-inputs {
    width: 30%;
    height: auto;
    background: #fff;
}

#container-logo-container-inputs img {
    width: 100%;
    height: auto;
}

#container-input-button-options {
    width: 82%;
    height: auto;
    background: transparent;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#container-input-button {
    width: 100%;
    height: auto;
    background: #00000000;
    position: relative;
}

#input-expression {
    width: 100%;
    border: none;
    border: 3px solid #003050;
    border-radius: 0.6rem;
    box-sizing: border-box;
    padding: 12px 10px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 18px;
}

#input-expression:hover,
#input-expression:focus {
    border: 3px solid #003050;
    outline: 3px solid #4bb7ff;
}

#button-send-expression {
    margin: 7.5px;
    height: 30px;
    width: auto;
    position: absolute;
    top: 2px;
    z-index: 999;
    right: 0px;
    transition: color 0.3s ease;
    cursor: pointer;
    fill: #0c95f1;
}

#button-send-expression:hover {
    fill: #05104d;
}

#container-options {
    width: 100%;
    height: auto;
    background: transparent;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

.button-bottom-input-expression {
    padding: 2px 10px 5px 10px;
    outline: none;
    border: none;
    font-size: 20px;
    border-radius: 0.6rem;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 3px solid #003050;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#button-natural-language {
    color: #003050;
}

#button-symbolic-input {
    color: #fff;
    background: #003050;
}



/* container-buttons */
#container-buttons {
    width: 100%;
    height: auto;
    background: #003050;

    display: flex;
    justify-content: center;
    align-items: center;
}

#sub-container-buttons {
    width: 57%;
    height: 200px;
    background: transparent;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.container-button {
    width: 20%;
    height: 70%;
    background: white
}



/*section-results*/
#section-results {
    width: 70%;
    height: auto;
    background: rgb(255, 255, 255);
}

#sub-section-results {
    width: 100%;
    height: auto;
    background: #D9D9D9;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 50px 0;
    
    font-family: sans-serif;
    color: #003050;
}

.title-container-operations {
    width: 100%;
    height: 60px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 21px;
    font-weight: bold;
    font-family: sans-serif;
    color: #003050;
}

#container-input-result {
    width: 100%;
    height: 70px;
    background: transparent;
}

#container-input {
    width: 100%;
    height: 50%;
    background: transparent;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#container-input h1 {
    width: 96%;
    height: 120px;
    background: #D9D9D9;
    display: flex;
    align-items: center;
}

#input {
    width: 100%;
    height: 70%;
    background: #F1F1F1;
}

#container-result {
    width: 100%;
    height: 50%;
    background: transparent;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#container-result h1 {
    width: 96%;
    height: 120px;
    background: #D9D9D9;
    display: flex;
    align-items: center;
}

#result {
    width: 100%;
    height: 70%;
    background: #F1F1F1;
}



/*section-operations*/
#section-operations {
    width: 100%;
    height: auto;
    background: #3d3d3d;

    display: flex;
    justify-content: center;
    align-items: center;
}

#sub-section-operations {
    width: 100%;
    height: 400px;
    background: rgb(255, 150, 150);
    margin: 50px 0;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

